body{
    color: rgb(49, 197, 36);
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position-x: 45%;
    background-position-y: bottom;
    background-position: absolute;
}